
<div class="bg-img">
    <div class="container-fluid h-100">
      <div class="row justify-content-center align-items-center h-100">
          <div class="col col-sm-8 col-md-8 col-lg-6 col-xl-3">
            <p class="heading">Client Management System</p>
              <form #login_form="ngForm" (ngSubmit)="onSubmit(login_form.value)">
                <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>
                  <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" id="inputEmail" name="email" ngModel class="form-control" placeholder="Email address" required autofocus>
  
                  </div>
                  <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password" required>
                  </div>
                  <button type="submit" class="btn btn-primary" [disabled]="!login_form.form.valid">Submit</button>
                </form>
          </div>
      </div>
  </div>
  </div>