.bg-img {
    background-image: url("../../assets/images/bg.jpg");
    height: 100%;
    background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
}
.heading {
  color: white;
  padding: 20px 0px;
  width: 400px !important;
 font-size: 24px;
}