
<div>
        <div class="row">
            <div class="card" style="width: 18rem;margin:10px" *ngFor="let item of clientList">
                <div class="card-body">
                    <h4 class="card-title">Client - {{item.clientName}}</h4>
                    <p class="card-text">Company Name: {{item.companyName}}</p>
                    <p class="card-text">Email: {{item.email}}</p>
                    <button type="button" class="btn btn-outline-primary" (click)="navigate(item)">See More</button>
                    <button type="button" class="btn btn-outline-danger" (click)="deleteClient(item.id)" style="margin-left: 10px;">Delete</button>
                </div>
            </div>
</div>
</div>