<div>
    <div>
        <div class="col-4" *ngIf="authService.currentUser.admin || authService.currentUser.auditor">
            <button type="button" class="btn btn-outline-warning" (click)="goback()">Back</button>
        </div>
        <div style="text-align: center;">
            <h4 style="text-align: center;">Client Details</h4>
        </div>
      </div>
<form [formGroup]="registerForm">
    <div class="form-group">
        <label for="clientName">Client Name</label>
        <input type="text" formControlName="clientName" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label for="companyName">Company Name</label>
        <input type="text" formControlName="companyName" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" formControlName="title" class="form-control" readonly  />
    </div>
    <div class="form-group">
        <label for="department">Department</label>
        <input type="text" formControlName="department" class="form-control" readonly/>
    
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" readonly  />
        
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="number" formControlName="phoneNumber" class="form-control" readonly  />
       
    </div>
    <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" readonly formControlName="address" id="inputAddress" placeholder="1234 Main St">
        
    </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" readonly formControlName="address2" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" readonly formControlName="city" id="inputCity">
        
        </div>
        <div class="form-group col-md-6">
          <label for="inputState">State</label>
          <input type="text" class="form-control" readonly formControlName="state" id="inputState">
          
        </div>
        <div class="form-group col-md-6">
          <label for="inputZip">Zip Code</label>
          <input type="text" class="form-control" readonly  formControlName="zip" id="inputZip">
         
        </div>
        <div class="form-group col-md-6">
            <label for="inputCountry">Country</label>
            <input type="text" class="form-control" readonly formControlName="country" id="inputCountry">
           
        </div>
      </div>
    <div class="form-group" style="padding-bottom: 20px !important;">
        <!-- <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Add New Client
        </button> -->
        <!-- <a (click)="goback()" class="btn btn-link">Cancel</a> -->
    </div>
</form>

</div>