<div class="column" *ngIf="authService.isLoggedIn()">
    <div class="header">
       <span>
        <a href="https://www.pwc.com/" class="logo">
          <img src="../../assets/images/m_final.svg">
      </a>
      <span class="header-left"><b>Client Management System</b></span>
    </span>
        <div class="header-right">
          <span style="padding-right: 10px;">Welcome {{authService.currentUser.name}}</span>
          <button style="margin-right: 10px;" type="button" (click)="navigateTo()" *ngIf="authService.currentUser.admin && !(authService.currentUser.auditor)" class="btn btn-success">Add New Client</button>
          
            <button type="button" (click)="authService.logout()" class="btn btn-info">Log Out</button>

        </div>
      </div>
      
      <div style="padding:10px">
     <router-outlet></router-outlet>
      </div>
      <div class="footer">
       <div>© 2018 - 2020 PwC. All rights reserved.</div>
      </div>
</div>