

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 3px;
  }
  .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #000;
      color: white;
     padding: 5px;
   }
  .header a  {
    float: left;
    color: black;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  .header span{
    cursor: pointer;
    padding-left: 10px;
  }
  .newbtn{
    background-color: red;
    color: #fff;
  }
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
    text-align: center;
    padding: 12px;
  }
  .header-left {
    float: left;
    text-align: center;
    padding: 12px;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }