<div>
    <div class="row justify-content-start">
        <div class="col-4">
            <button type="button" class="btn btn-outline-warning" (click)="goback()">Back</button>
        </div>
        <div class="col-4">
            <h4 style="text-align: center;">Add New Client</h4>
        </div>
      </div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="clientName">Client Name</label>
        <input type="text" formControlName="clientName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.clientName.errors }" />
        <div *ngIf="submitted && f.clientName.errors" class="invalid-feedback">
            <div *ngIf="f.clientName.errors.required">Client Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="companyName">Company Name</label>
        <input type="text" formControlName="companyName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }" />
        <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
            <div *ngIf="f.companyName.errors.required">Company Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="department">Department</label>
        <input type="text" formControlName="department" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.department.errors }" />
        <div *ngIf="submitted && f.department.errors" class="invalid-feedback">
            <div *ngIf="f.department.errors.required">department is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">email is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="number" formControlName="phoneNumber" class="form-control" maxlength="10" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
            <div *ngIf="f.phoneNumber.errors.required">phoneNumber is required</div>
            <div *ngIf="f.phoneNumber.errors.minlength">Phone Number must be at least 10 digits</div>
            <div *ngIf="f.phoneNumber.errors.maxlength">Phone Number must be 10 digits only</div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" formControlName="address" id="inputAddress" placeholder="1234 Main St">
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">department is required</div>
        </div>
    </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" formControlName="address2" id="inputAddress2" placeholder="Apartment, studio, or floor">
        <div *ngIf="submitted && f.address2.errors" class="invalid-feedback">
            <div *ngIf="f.address2.errors.required">department is required</div>
        </div>
    </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" formControlName="city" id="inputCity">
          <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
            <div *ngIf="f.city.errors.required">department is required</div>
        </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputState">State</label>
          <input type="text" class="form-control" formControlName="state" id="inputState">
          <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
            <div *ngIf="f.state.errors.required">department is required</div>
        </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputZip">Zip Code</label>
          <input type="text" class="form-control"  formControlName="zip" id="inputZip">
          <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">
            <div *ngIf="f.zip.errors.required">department is required</div>
        </div>
        </div>
        <div class="form-group col-md-6">
            <label for="inputCountry">Country</label>
            <input type="text" class="form-control" formControlName="country" id="inputCountry">
            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                <div *ngIf="f.country.errors.required">department is required</div>
            </div>
        </div>
      </div>
    <div class="form-group" style="padding-bottom: 20px !important;">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Add New Client
        </button>
        <a (click)="goback()" class="btn btn-link">Cancel</a>
    </div>
</form>

</div>